body{
  display: grid;
  grid-template-columns: 600px 1fr;
  grid-template-rows: 1fr 50px 200px;
  background-image: url("image/fond/parquet.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#heure{
  visibility: hidden;
}
#mapid{
  grid-column: 1;
  grid-row: 1;
  height: 600px;
  width: 500px;
  /* position: relative; */
}

#menu{
  grid-column: 2;
  grid-row: 1;
  background-image: url("image/branche_ss_fond.png");
  background-size: contain;
}

#espace{
  grid-column: 1/ span 2;
  grid-row: 2;
  text-align: center;
  font-size: 20px;
  font-family: 'Dancing Script', cursive;
  color: white;
}

#inventaire{
  grid-column: 1/ span 2;
  grid-row: 3;
  text-align: center;
  display: grid;
  grid-template-columns: 5px 0.166fr 5px 0.166fr 5px 0.166fr 5px 0.167fr 5px 0.167fr 5px 0.167fr 5px;
  grid-template-rows: 5px 0.5fr 5px 0.5fr 5px;
  /* grid-template-areas: "f f f f f f f f f f f f f"
                       "f g f mb f b f c f ka f o f"
                       "f f f f f f f f f f f f f"
                       "f ca f tb f e f v f md f p f"
                       "f f f f f f f f f f f f f"; */
  background-color: rgb(94, 26, 1);
}


#bloc1{
  grid-column: 2;
  grid-row: 2;
  background-color: rgb(19, 148, 12);
}
#bloc2{
  grid-column: 4;
  grid-row: 2;
  background-color: rgb(19, 148, 12);
}

#bloc3{
  grid-column: 6;
  grid-row: 2;
  background-color: rgb(19, 148, 12);
}

#bloc4{
  grid-column: 8;
  grid-row: 2;
  background-color: rgb(19, 148, 12);
}

#bloc5{
  grid-column: 10;
  grid-row: 2;
  background-color: rgb(19, 148, 12);
}

#bloc6{
  grid-column: 12;
  grid-row: 2;
  background-color: rgb(19, 148, 12);
}

#bloc7{
  grid-column: 2;
  grid-row: 4;
  background-color: rgb(19, 148, 12);
}

#bloc8{
  grid-column: 4;
  grid-row: 4;
  background-color: rgb(19, 148, 12);
}

#bloc9{
  grid-column: 6;
  grid-row: 4;
  background-color: rgb(19, 148, 12);
}

#bloc10{
  grid-column: 8;
  grid-row: 4;
  background-color: rgb(19, 148, 12);
}

#bloc11{
  grid-column: 10;
  grid-row: 4;
  background-color: rgb(19, 148, 12);
}

#bloc12{
  grid-column: 12;
  grid-row: 4;
  background-color: rgb(19, 148, 12);
}

.bouton{
  background-color: rgb(5, 166, 53);
  color: white;
  height: 30px;
  font-size: 20px;
}

#indices{
  height: auto;
  width: 370px;
  background-color: rgba(255, 255, 255, 0.4);
}

#legind{
  color: navy;
  text-align: center;
  font-weight: bold;
  font-size: x-large;
}

.ind{
  color: navy;
  font-size: larger;
}

/* #texte{
  grid-area: f;
} */

/* #charbon{
  margin-left: auto;
  margin-right: auto;
  grid-columns: 1;
  grid-row: 2;
} */
