html{
  background-image: url("image/oliveraie_m8b.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#quest{
  height: 450px;
  width: 350px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  margin-bottom: auto;
  background-image: url("image/parch_hist.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#question{
  height: 350px;
  width: 250px;
  padding-left: 17%;
  padding-right: auto;
  padding-top: 15%;
}

#leg{
  text-align: center;
  color: rgb(5, 166, 53);
  font-size: 20px;
  font-family: 'Satisfy', cursive;
}

#thequestion{
  color: blue;
}

#submit{
  text-align: center;
  color: rgb(5, 166, 53);
}

#valider{
  background-color: rgb(5, 166, 53);
  color: white;
}

.reps{
  color: rgb(5, 166, 53);
}
