html{
  background-image: url("image/oliveraie_m8b.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#deb{
  font-style : italic;
}

#heure{
  visibility: hidden;
}

#fin{
  height: 600px;
  width: 450px;
  margin-left: auto;
  margin-right: auto;
  /* padding-top: 10%; */
  background-image: url("image/parch_hist.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}



#fin2{
  height: 430px;
  width: 330px;
  padding-left: 17%;
  padding-right: auto;
  padding-top: 15%;
}

#fin_hist{
  text-align: center;
  color: rgb(5, 166, 53);
  font-size: 20px;
  font-family: 'Satisfy', cursive;
}

#felicitation{
  color: red;
  font-size: 20px;
}

.score{
  text-align: center;
  color: rgb(5, 166, 53);
}

#valid{
  background-color: rgb(5, 166, 53);
  color: white;
}
